/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300&family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rokkitt', serif;
    transition: .2s all ease-in-out;
}
body{
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
}
table, tbody, td, tfoot, th, thead, tr {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.text-center{
    text-align: center;
}
.right{
    float:right;
}
.m-auto{
    margin: 0 auto;
}
.left{
    float:left;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.inline-block{
    display: inline-block;
}
.m-0{
    margin: 0;
}
.mt-0{
    margin-top: 0;
}
.mb-0{
    margin-bottom: 0;
}
.mb-20{
    margin-bottom: 20px;
}
.my-10{
    margin-bottom: 10px;
    margin-top: 10px;
}
.sec-box{
    width: 1200px;
    margin: auto;
}
.sec-box-nav{
    margin: auto;
}
.py-110{
    padding-top: 110px;
    padding-bottom: 110px;
}
.my-80{

    margin-bottom: 110px;
}
.mt-20{
        margin-top: 20px;
}
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.py-82{
    padding-top: 82px;
    padding-bottom: 82px;
}
.border-none{
    border-bottom: none !important;
} 
.font-opensans{
font-family: "Open Sans",sans-serif !important;
text-transform: uppercase;
}
.bg-grey{
 background: #efefef;
}
.empty-space{
    width: 100%;
    height: 35px;
    background: transparent;
}
.brown-button{
    min-width: 180px;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
    padding: 18px 40px 18px 43px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #b79c7d;
    border-bottom: 2px solid #a27d53;
    color: #fff;
    position: relative;
    z-index: 0;
    display: inline-block;
    text-align: center;
}

.brown-button:hover .brown-button-overlay{
    transform: scaleY(1);
    opacity: 1;
    -webkit-transition: -webkit-transform .35s ease-in-out,opacity 0s;
}
.brown-button:hover .brown-button-text{
z-index: 100;
    color: #fff;
}
.brown-button-overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #a27d53;
    left: 0;
    height: 100%;
    transform-origin: bottom center;
    z-index: 2;
    opacity: 0;
    transition: transform 0s ease-in-out .35s,opacity ease-in-out .35s;
    -webkit-transition: -webkit-transform 0s ease-in-out .35s,opacity ease-in-out .35s;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
    display: block;
}
.banner-title{
    font-size: 50px;
    letter-spacing: 14px;
    color: #fff;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    margin: 11px 0 9px;
    font-weight: 400;
}
.banner-subtitle-sm{
    display: block;
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    margin: 0 auto;
    width: 70%;
    font-style: italic;
    font-weight: 400;
}
.title-underline-left{
    font-family: Rokkitt,serif;
    color: #333;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: 8.5px;
    position: relative;
    margin-bottom: 40px;
}
.title-underline-left::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -30%;
    background: #b79c7d;
    width: 40%;
    height: 2px;
}
.text{
    font-size: 16px;
    line-height: 29px;
    color: #8f8f8f;
    font-weight: 400;
}
.viewmore-btn{
    border: none;
    color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    outline: 0;
    padding: 18px 40px 18px 43px;
    font-size: 11px;
    line-height: 14px;
    -webkit-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    -moz-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
    background-color: #b79c7d;
    font-weight: 600;
    font-family: "Open Sans",sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: normal;
}
.breadcumb-title{
    font-size: 28px;
    letter-spacing: 2px;
     color: #444;
     font-weight: 400;
}
.breadcumb-para{
    font-size: 14px;
    color: #909090;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-sec{
    height: 456px;
    background-image: url(https://crestattire.com/creator/assets/images/services/banner.jpg);
    background-position: center 0px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-title::before{
        content: '';
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
        background-color: #199B8C;
}
.box-title{
        border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e9e9e9;
    padding-bottom: 15px;
        font-size: 16px;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    position: relative;
        font-weight: 700;
    font-style: normal;
    color: #333333;
}
@media only screen and (min-width: 480px) and (max-width: 600px){
.sec-box .content {

    30px 5px 0 5px !important
}
.sec-box .image {
    padding: 30px 0 0 0 !important;
}
}
@media(max-width:1200px){
    .sec-box{
        width: 950px !important;
    }
}
@media(max-width:1024px){
    .banner-sec{
     padding-top:100px;   
     height:380px;
    }
    .sec-box,.sec-box-nav{
        width: 768px !important;
    }
}
@media(max-width:768px){
     .banner-sec{
     height:316px;
    }
    .banner-title{
        font-size:40px;
    }
    .banner-sec .banner-subtitle-sm{
        display:none;
    }
    .sec-box,.sec-box-nav{
        width: 600px !important;
    }
    .breadcumb-title{
        font-size: 22px;
    }
}
@media(max-width:600px){
       .banner-sec{
     height:270px;
    }
    .banner-title {
    max-width: 300px;
}
 .sec-box,.sec-box-nav{
        width: 420px !important;
    }
.services-body .sec-box{
    
 padding-left:15px;   
 padding-right:15px;   
}
}
@media(max-width:480px){
    .sec-box,.sec-box-nav{
        width: 300px !important;
    }
       .banner-sec{
     height:240px;
    }
    .banner-title{
        font-size:32px;
    }
    .sec-box .content {

  padding: 30px 5px 0 5px !important;
}
      
}
@media(max-width:320px){
    .sec-box,.sec-box-nav{
        width: 95% !important;
    }
}